<nav class="navbar bg-body-tertiary mi-navbar fixed-top div-oculto">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="span-center">Bienvenido <%= user.user%></span>
      <div class="dropdown-center">
        <button class="btn btn-secondary  dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-solid fa-user"></i> Mi cuenta
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-lock"></i> Contraseña</a></li>
          <li><a class="dropdown-item" href="logout"><i class="fa-solid fa-right-from-bracket"></i> Salir</a></li>
        </ul>
      </div>
      <div class="offcanvas offcanvas-start navbar-tam" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/ticket"><i class="fa-solid fa-house"></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pagos"><i class="fa-solid fa-money-check-dollar"></i> Pagos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/manifestar"><i class="fa-solid fa-magnifying-glass-plus"></i> Manifestar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/manifestados"><i class="fa-solid fa-person"></i> Manifestados</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>